{% extends "base.html" %}
{% block title %}
Tracking
{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
<style>
	.homepage{
		background-color: #fcfbe6;
		background-image:none;
		}
</style>
{% if user.is_authenticated %}
<div id="content" name="content" class="homepage">
{% block content %}

    <section class="vh-75">
  		<div class="container">
    		<div class="row">
      			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
        			<div class="card shadow-2-strong" style="border-radius: 1rem;">
          				<div class="card-body p-4 text-center">
            				<h3 class="mb-5">Calorie Tracking</h3>
     						<form method="post" class="form-group">
									{% csrf_token %}
									{{form|crispy}}
									<button type="submit" class="btn btn-success">Login</button>
    						</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


    {% for date1,calo in history.items %}

			{{date1}}
		<br>
		 {% for category,ing in calo.items %}
	<div class="row ml-5">
		{{category}}
		<br>
		<br>
				{% for ing1 in ing %}
    	<div class="col-sm-3 align-items-stretch " style="margin-top:30px" >
       	 <div class="card padding-5 " style="width: 15rem;">
					<div class="card-body">
                		<h5 class="card-title"><b>{{ing1.name}}     {{ing1.serving_size}}</b></h5>
               	 		<p class="card-text">Calories {{ing1.f_calories}} g</p>
                		<p class="card-text">carbs {{ing1.carbs}} g</p>
						<p class="card-text">Protein {{ing1.protein}} g</p>
						<p class="card-text">Fat {{ing1.fat}} g</p>
                		</br>
            		</div>

        	</div>
    	</div>
			{% endfor %}
            {% endfor %}
    {% endfor %}
	<br>
	</div>

		{% for idealreq, req in user_calo_comparison.items %}
		<div class="row ml-5 my-2">
		<div class="col-sm-3 align-items-stretch" style="margin-top:30px" >
			<div class="card padding-0 " style="width: 24rem;">
				{% if 'Increase' in context %}
            		<img class="card-img-top" src="{% static 'under_weight.jpg' %}" alt="Card image cap">
				{% endif %}
				{% if 'Reduce' in context %}
            		<img class="card-img-top" src="{% static 'weight_gain.jpg' %}" alt="Card image cap">
				{% endif %}
				{% if context == 'Perfect Level' %}
					<img class="card-img-top" src="{% static 'maintain_weight.jpeg' %}" alt="Card image cap">
				{% endif %}
            <div class="card-body">
                <h5 class="card-title"><b>Calories Consumed {{total_calories}}</b></h5>
				{% if idealreq == 'maintain weight' %}
					<h5 class="card-title"><b>Ideal Calories in a day {{req}}</b></h5>
				{% else %}
					<h5 class="card-title"><b>Ideal Calories in a Day {{req.calory}}</b></h5>
				{% endif %}
                <h5 style="card-title"><b>{{context}}</b></h5>
                </br>
            </div>
        </div>
	</div>
    </div>
    {% endfor %}

{% endblock %}
</div>
{% endif %}
