{% extends 'base.html' %}
<h4>Search Calorie</h4>
{% block content %}
  <h2 style="color:#FFFFFF;">Calorie Tracking</h2>
  <p style="color:#FFFFFF;">Calories of carrot <strong>
        {{tweet_response.items}}
  </strong></p>
{% endblock %}
<!--<script>-->
<!--    function httpPost(url, callback_function)-->
<!--    {-->
<!--        fetch(url, {-->
<!--          method: "POST",-->
<!--          headers: {'Content-Type': 'application/json'},-->
<!--          body: "",-->
<!--          credentials: "same-origin", // https://developer.mozilla.org/en-US/docs/Web/API/fetch#parameters-->
<!--        }).then(function(response) {-->
<!--            return response.json();-->
<!--        }).then(callback_function);-->
<!--    }-->

<!--    function appendArticleDiv(article, parentTag)-->
<!--    {-->
<!--        let articleTag = document.createElement("div");-->
<!--        let articleContent = document.createElement("span");-->
<!--        articleContent.innerText = article.full_text;-->
<!--        articleTag.append(articleContent);-->
<!--        parentTag.append(articleTag);-->
<!--        parentTag.append(document.createElement("br"));-->
<!--        parentTag.append(document.createElement("hr"));-->
<!--    }-->

<!--    function callbackFunction(data)-->
<!--    {-->
<!--        let articlesDivTag = document.getElementById("tweets");-->
<!--        console.log(data.results.globalObjects.tweets);-->
<!--        tweets = data.results.globalObjects.tweets;-->
<!--        Object.entries(tweets).forEach((result) => appendArticleDiv(result[1], articlesDivTag));-->

<!--    }-->

    httpPost("/", callbackFunction);
</script>

