<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        {% extends "base.html" %}
        {% load static %}
    <link href="{% static 'home.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

{% block title %}Home{% endblock %}
<div id="content" name="content" class="homepage">
    {% block content %}
    <div class="banner">
    <img id="Banner" style="width:-webkit-fill-available;;position:fixed;height:-webkit-fill-available;" src="{% static 'diet_banner.png' %}" srcset="{% static 'diet_banner.png' %}">
    <a href="{% url 'search' %}"/>
    {% endblock %}
    </div>
</div>

</body>
